<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574109052855-pi1s5ahf2meldglv9g0u9cfnnr29okb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574109052855-pi1s5ahf2meldglv9g0u9cfnnr29okb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCcDBw9Lk7Zh_OZWYRIpHxMVRXeX2sZo_A</string>
	<key>GCM_SENDER_ID</key>
	<string>574109052855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learn</string>
	<key>PROJECT_ID</key>
	<string>mypfe-9ed9e</string>
	<key>STORAGE_BUCKET</key>
	<string>mypfe-9ed9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574109052855:ios:e83243ef255d920c910232</string>
</dict>
</plist>